@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    52deg,
    rgba(0, 255, 224, 1) 0%,
    rgba(49, 143, 238, 1) 50%,
    rgba(112, 0, 255, 1) 100%
  );
  background-position: center;
  background-size: cover;
  margin: 0;
}